<!DOCTYPE html>
<html>
<head>
    @Input("_view/helpers")
    <title>@Model.title</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">

        @RenderBody()
        
        <ul>
        @foreach(var item in (List<string>)Model.items)
        {
            <li>@item</li>
        }
        </ul>

        @SayHi("Hello")
        @if (IsSectionDefined("Well"))
        {
            <section>
                <div class="well">
                    @RenderSection("Well")
                </div>
            </section>
        }


    </div>

</body>
</html>