<!DOCTYPE html>
<html>
<head>
    @Include("well")
    @Input("Helpers")
    <title>@Model.title</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
</head>
<body>
    <div class="container">
        @RenderBody()


        @SayHi("Visitor")
        @if (IsSectionDefined("Well"))
        {
            <section>
                @RenderSection("Well")
            </section>
        }
    </div>
    

</body>
</html>